### My first try of python coding
asd asd <br> asd asd
asd asd asd dsd
asd asd asd

In [35]:
print("Hello")

Hello

In [36]:
x = 5
print(x)

5

In [37]:
x == 3  # logical statement

False

In [38]:
x > 3 # logical statement

True

In [39]:
type(x)   # class(x) in R -> numeric

int

In [40]:
# Str -> String : Sequence of characters
myname = "ahsan"
type(myname)

str

In [41]:
myname.islower()

True

In [4]:
str2 = "my country is Bangladesh"
type(str2)

str

In [43]:
str2.find("is")  # index starts from 0

11

In [44]:
str2.upper()

'MY COUNTRY IS PAKISTAN'

In [45]:
str2.islower()

False

:

In [ ]:
y = 4.3
type(y)

float

In [ ]:
print(20//3)

6

In [ ]:
# slicing - last index will always be excluded
b = "Hello, World!"
print(b[2:])
print(b[:6])

llo, World!
Hello,

### Loops

In [ ]:
total = 0

In [ ]:
# for loop works on range/collection of data
for i in range(5):
    total = total+i
    print(i)
    print(total)  # indentation -> inside for
    print("Hello, zadid")
print("The total is: ",total) # no indentation -> outside for

0
20
Hello, zadid
1
21
Hello, zadid
2
23
Hello, zadid
3
26
Hello, zadid
4
30
Hello, zadid
The total is:  30

In [ ]:
print(range(5))

range(0, 5)

In [ ]:
for _ in range(5):
    print("Hello, zadid")

Hello, zadid
Hello, zadid
Hello, zadid
Hello, zadid
Hello, zadid

In [ ]:
for x in range(5):
    print(x**2) # power

0
1
4
9
16

In [5]:
for c in str2:
    print(c)

m
y

c
o
u
n
t
r
y

i
s

B
a
n
g
l
a
d
e
s
h

### Lists

In [6]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [7]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x.upper())

APPLE
BANANA
CHERRY

In [8]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x[:1])

a
b
c

In [9]:
fruits = ["apple","banana","cherry"]
for x in fruits:
    print(x[:1].upper())

A
B
C

In [12]:
fruits = ["apple","banana","cherry","jackfruit","lichi","orange"]
totalSentence = ""
for x in fruits:
    totalSentence = totalSentence+x
    print(x[:1].upper())
print(totalSentence)

A
B
C
applebananacherry

In [15]:
fruits = ["apple","banana","cherry","jackfruit","lichi","orange"]
totalSentence = ""
for x in fruits:
    # Conditional operation
    if x[:1] == 'a':
        print("I love this fruit")
    if x[:1] in "aeiou":
        totalSentence = totalSentence+x
    else:
        print("This fruit name does not start with vowel")
    print(x[:1].upper())
print(totalSentence)

I love this fruit
A
This fruit name does not start with vowel
B
This fruit name does not start with vowel
C
This fruit name does not start with vowel
J
This fruit name does not start with vowel
L
O
appleorange

### While loop

### if, elif and else Concepts in python