### Class Date 17/05/2024 ###

In [4]:
import os

In [5]:
os.getcwd() # get current working directory

'/Users/zadidahsan/Documents/Class-5'

In [20]:
os.chdir() # change current working directory

TypeError: chdir() missing required argument 'path' (pos 1)

In [15]:
file1 = open("names.txt","r") # find handler
# print(f.read())

In [11]:
file1.read()

'Albert Zammit\nBetsy Yates\n   Chi-Yen Xu    \nDevi Wagle\n  Edward Valentine\nFrances Unwin\nGraeme Trotter'

In [14]:
file1.readlines()

['Albert Zammit\n',
 'Betsy Yates\n',
 '   Chi-Yen Xu    \n',
 'Devi Wagle\n',
 '  Edward Valentine\n',
 'Frances Unwin\n',
 'Graeme Trotter']

In [18]:
file1.readline()

'   Chi-Yen Xu    \n'

### Other data structures ###

In [26]:
mylist1 = [1,3,8,3,9,"zadid"]

In [31]:
mylist1.append("apple")

In [32]:
mylist1

[1, 3, 8, 3, 9, 'zadid', 'apple', 'apple', 'apple']

In [23]:
type(mylist1)

list

In [24]:
mylist1.append("orange")

In [25]:
print(mylist1)

[1, 3, 8, 3, 9, 'zadid', 'orange']

In [27]:
mylist1[5]

'zadid'

In [28]:
len(mylist1)

7

In [29]:
listC = ["Fruit groups",
          ["protein",["meat","fish","egg","soy"]],
          ["carbohydrate",["sugar","starch"]],
          ["fat",["oil","lard","butter"]],
          ["drinks",["coffee","milk","corbonated"]]
        ]  # Embedded list -> lists within list 
# Embedded list can not be converted to a data frame because not same length - can be accessed through index

In [30]:
listC[0]

'Fruit groups'

In [31]:
listC[1]

['protein', ['meat', 'fish', 'egg', 'soy']]

In [32]:
listC[2]

['carbohydrate', ['sugar', 'starch']]

In [33]:
listC[2][0]

'carbohydrate'

In [34]:
listC[2][1]

['sugar', 'starch']

In [36]:
listC[2][1][0]

'sugar'

In [37]:
listC[2][1][1]

'starch'

In [38]:
listC[4]

['drinks', ['coffee', 'milk', 'corbonated']]

In [39]:
listC[4][1]

['coffee', 'milk', 'corbonated']

In [40]:
listC[4][1][0]

'coffee'

In [41]:
listC[4][1][2]

'corbonated'

In [42]:
# lists are mutable
mylist1

[1, 3, 8, 3, 9, 'zadid', 'orange']

In [43]:
mylist1[1]

3

In [44]:
mylist1[1] = 13

In [45]:
mylist1

[1, 13, 8, 3, 9, 'zadid', 'orange']

In [46]:
# String - array of characters - list and string are not same
# Strings are not mutable(not changable)
mystring1 = "pathetic"

In [47]:
# mystring1[0] = "n" will not work

TypeError: 'str' object does not support item assignment

#### Dictionary

In [4]:
mydictionary1 = {"a":1,"b":3,"c":8,"d":3,"e":9,"f":"zadid"} # key-value pair

In [5]:
mydictionary1["d"] # dictionary can be called by index, only key

3

In [6]:
mydictionary1["f"]

'zadid'

In [7]:
mydictionary2 = {
               'boat':"lots of fun",
               'wedding':"a form of ceremony",
               'eclair':"a cake long in shape but short in duration",
               'pink':"a yellow lake",
               'ynambu':"a very large tinamou"
            }

In [8]:
mydictionary2['pink']

'a yellow lake'

In [9]:
mydictionary2.keys()

dict_keys(['boat', 'wedding', 'eclair', 'pink', 'ynambu'])

In [10]:
mydictionary2.values()

dict_values(['lots of fun', 'a form of ceremony', 'a cake long in shape but short in duration', 'a yellow lake', 'a very large tinamou'])

In [35]:
type(sorted(mydictionary2.items())) # Sorting in dictionary - after sorting dict has become list

list

In [36]:
dict(sorted(mydictionary2.items()))

{'boat': 'lots of fun',
 'eclair': 'a cake long in shape but short in duration',
 'pink': 'a yellow lake',
 'wedding': 'a form of ceremony',
 'ynambu': 'a very large tinamou'}

In [11]:
fruitslist=["apple","banana","cherry","jackfruit","lichi","orange"]

In [16]:
fruitsdict = {"apple":[200,200],"banana":300,"cherry":400,"jackfruit":500,"lichi":600,"orange":700}

In [17]:
type(fruitsdict)

dict

In [14]:
fruitsdict["apple"]   # dictionary -> unstructured data structure -> very flexible

[200, 200]

In [21]:
fruitsset={"apple","banana","cherry","jackfruit","lichi","orange"}

In [22]:
type(fruitsset) # set -> 3rd type of data structure

set

In [23]:
fruitstuple=("apple","banana","cherry","jackfruit","lichi","orange")

In [24]:
type(fruitstuple)

tuple

In [ ]:
# list, dictionary, set, tuple
# mutable(those that can be changed) -> set, dictionary, set
# When add in list -> 'append' command
# immutable -> tuple
# Sorting can not be done in set
# Sorting concept is not in dictionary
# Duplicate items can be added in list but not in set

In [25]:
fruitstuple[1]="guava"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# numpy -> numerical python

In [39]:
pip install numpy

Collecting numpy
  Downloading numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.1/61.1 kB 352.6 kB/s eta 0:00:00a 0:00:01
Downloading numpy-1.26.4-cp312-cp312-macosx_11_0_arm64.whl (13.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.7/13.7 MB 1.8 MB/s eta 0:00:0000:0100:01
Installing collected packages: numpy
Successfully installed numpy-1.26.4
Note: you may need to restart the kernel to use updated packages.

In [49]:
import numpy as np

In [ ]:
# numpy works with own data structure -> numpy array

In [41]:
aList = [[1,2,5,6],[2,8,5,9],[4,7,8,2]]

In [42]:
print(aList)

[[1, 2, 5, 6], [2, 8, 5, 9], [4, 7, 8, 2]]

In [43]:
print(aList*2)

[[1, 2, 5, 6], [2, 8, 5, 9], [4, 7, 8, 2], [1, 2, 5, 6], [2, 8, 5, 9], [4, 7, 8, 2]]

In [50]:
aArray = np.array(aList)

In [47]:
print(aArray)

[[1 2 5 6]
 [2 8 5 9]
 [4 7 8 2]]

In [48]:
print(aArray*2)

[[ 2  4 10 12]
 [ 4 16 10 18]
 [ 8 14 16  4]]

In [ ]:
# numpy is a mathematical package -> works in matrix

In [51]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-macosx_11_0_arm64.whl (11.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 1.8 MB/s eta 0:00:0000:0100:01
Installing collected packages: pandas
Successfully installed pandas-2.2.2
Note: you may need to restart the kernel to use updated packages.

In [52]:
import pandas as pd

In [53]:
a1DList = [1,2,5,6,2,8,5,9,4,7,8,2]
print("aList:\n",a1DList)

aList:
 [1, 2, 5, 6, 2, 8, 5, 9, 4, 7, 8, 2]

In [54]:
a1Darray = np.array(a1DList)

In [56]:
print(a1Darray)

[1 2 5 6 2 8 5 9 4 7 8 2]

In [ ]:
# pandas -> mainly 2 data structures => series and data frame
# series -> 1 column / 1 dimensional

In [58]:
pd.Series(a1Darray) # converting to series -> index is added, vertically shown, adding data type

0     1
1     2
2     5
3     6
4     2
5     8
6     5
7     9
8     4
9     7
10    8
11    2
dtype: int64

In [60]:
myDict1 = {"a":1,"c":5,"d":9}

In [61]:
pd.Series(myDict1) # when converted from dictionary to series, keys are converted to indexes

a    1
c    5
d    9
dtype: int64

In [63]:
myList2 = [[1,2,5,6],[2,8,5,9],[4,7,8,2]] # Embedded list

In [66]:
myarray2 = np.array(myList2)
print(myarray2)

[[1 2 5 6]
 [2 8 5 9]
 [4 7 8 2]]

In [67]:
mydf2 = pd.DataFrame(myList2) # will create rows and columns

In [68]:
mydf2[1]

0    2
1    8
2    7
Name: 1, dtype: int64

In [69]:
mydf2[2:3]

   0  1  2  3
2  4  7  8  2

In [70]:
mydf2[0:2]

   0  1  2  3
0  1  2  5  6
1  2  8  5  9

In [71]:
mydf2.loc[1,0:2]

0    2
1    8
2    5
Name: 1, dtype: int64

### Now working on auto.csv

In [72]:
df = pd.read_csv("Auto.csv")
print(df.to_string())

      mpg  cylinders  displacement  horsepower  weight  acceleration  year  origin                                  name
0    18.0          8         307.0         130    3504          12.0    70       1             chevrolet chevelle malibu
1    15.0          8         350.0         165    3693          11.5    70       1                     buick skylark 320
2    18.0          8         318.0         150    3436          11.0    70       1                    plymouth satellite
3    16.0          8         304.0         150    3433          12.0    70       1                         amc rebel sst
4    17.0          8         302.0         140    3449          10.5    70       1                           ford torino
5    15.0          8         429.0         198    4341          10.0    70       1                      ford galaxie 500
6    14.0          8         454.0         220    4354           9.0    70       1                      chevrolet impala
7    14.0          8         440.0         215    4312           8.5    70       1                     plymouth fury iii
8    14.0          8         455.0         225    4425          10.0    70       1                      pontiac catalina
9    15.0          8         390.0         190    3850           8.5    70       1                    amc ambassador dpl
10   15.0          8         383.0         170    3563          10.0    70       1                   dodge challenger se
11   14.0          8         340.0         160    3609           8.0    70       1                    plymouth 'cuda 340
12   15.0          8         400.0         150    3761           9.5    70       1                 chevrolet monte carlo
13   14.0          8         455.0         225    3086          10.0    70       1               buick estate wagon (sw)
14   24.0          4         113.0          95    2372          15.0    70       3                 toyota corona mark ii
15   22.0          6         198.0          95    2833          15.5    70       1                       plymouth duster
16   18.0          6         199.0          97    2774          15.5    70       1                            amc hornet
17   21.0          6         200.0          85    2587          16.0    70       1                         ford maverick
18   27.0          4          97.0          88    2130          14.5    70       3                          datsun pl510
19   26.0          4          97.0          46    1835          20.5    70       2          volkswagen 1131 deluxe sedan
20   25.0          4         110.0          87    2672          17.5    70       2                           peugeot 504
21   24.0          4         107.0          90    2430          14.5    70       2                           audi 100 ls
22   25.0          4         104.0          95    2375          17.5    70       2                              saab 99e
23   26.0          4         121.0         113    2234          12.5    70       2                              bmw 2002
24   21.0          6         199.0          90    2648          15.0    70       1                           amc gremlin
25   10.0          8         360.0         215    4615          14.0    70       1                             ford f250
26   10.0          8         307.0         200    4376          15.0    70       1                             chevy c20
27   11.0          8         318.0         210    4382          13.5    70       1                            dodge d200
28    9.0          8         304.0         193    4732          18.5    70       1                              hi 1200d
29   27.0          4          97.0          88    2130          14.5    71       3                          datsun pl510
30   28.0          4         140.0          90    2264          15.5    71       1                   chevrolet vega 2300
31   25.0          4         113.0          95    2228          14.0    71       3                         toyota corona
32   19.0          6         232.0         100    2634          13.0    71       1                           amc gremlin
33   16.0          6         225.0         105    3439          15.5    71       1             plymouth satellite custom
34   17.0          6         250.0         100    3329          15.5    71       1             chevrolet chevelle malibu
35   19.0          6         250.0          88    3302          15.5    71       1                       ford torino 500
36   18.0          6         232.0         100    3288          15.5    71       1                           amc matador
37   14.0          8         350.0         165    4209          12.0    71       1                      chevrolet impala
38   14.0          8         400.0         175    4464          11.5    71       1             pontiac catalina brougham
39   14.0          8         351.0         153    4154          13.5    71       1                      ford galaxie 500
40   14.0          8         318.0         150    4096          13.0    71       1                     plymouth fury iii
41   12.0          8         383.0         180    4955          11.5    71       1                     dodge monaco (sw)
42   13.0          8         400.0         170    4746          12.0    71       1              ford country squire (sw)
43   13.0          8         400.0         175    5140          12.0    71       1                   pontiac safari (sw)
44   18.0          6         258.0         110    2962          13.5    71       1            amc hornet sportabout (sw)
45   22.0          4         140.0          72    2408          19.0    71       1                   chevrolet vega (sw)
46   19.0          6         250.0         100    3282          15.0    71       1                      pontiac firebird
47   18.0          6         250.0          88    3139          14.5    71       1                          ford mustang
48   23.0          4         122.0          86    2220          14.0    71       1                    mercury capri 2000
49   28.0          4         116.0          90    2123          14.0    71       2                             opel 1900
50   30.0          4          79.0          70    2074          19.5    71       2                           peugeot 304
51   30.0          4          88.0          76    2065          14.5    71       2                             fiat 124b
52   31.0          4          71.0          65    1773          19.0    71       3                   toyota corolla 1200
53   35.0          4          72.0          69    1613          18.0    71       3                           datsun 1200
54   27.0          4          97.0          60    1834          19.0    71       2                  volkswagen model 111
55   26.0          4          91.0          70    1955          20.5    71       1                      plymouth cricket
56   24.0          4         113.0          95    2278          15.5    72       3                 toyota corona hardtop
57   25.0          4          97.5          80    2126          17.0    72       1                    dodge colt hardtop
58   23.0          4          97.0          54    2254          23.5    72       2                     volkswagen type 3
59   20.0          4         140.0          90    2408          19.5    72       1                        chevrolet vega
60   21.0          4         122.0          86    2226          16.5    72       1                   ford pinto runabout
61   13.0          8         350.0         165    4274          12.0    72       1                      chevrolet impala
62   14.0          8         400.0         175    4385          12.0    72       1                      pontiac catalina
63   15.0          8         318.0         150    4135          13.5    72       1                     plymouth fury iii
64   14.0          8         351.0         153    4129          13.0    72       1                      ford galaxie 500
65   17.0          8         304.0         150    3672          11.5    72       1                    amc ambassador sst
66   11.0          8         429.0         208    4633          11.0    72       1                       mercury marquis
67   13.0          8         350.0         155    4502          13.5    72       1                  buick lesabre custom
68   12.0          8         350.0         160    4456          13.5    72       1            oldsmobile delta 88 royale
69   13.0          8         400.0         190    4422          12.5    72       1                chrysler newport royal
70   19.0          3          70.0          97    2330          13.5    72       3                       mazda rx2 coupe
71   15.0          8         304.0         150    3892          12.5    72       1                      amc matador (sw)
72   13.0          8         307.0         130    4098          14.0    72       1      chevrolet chevelle concours (sw)
73   13.0          8         302.0         140    4294          16.0    72       1                 ford gran torino (sw)
74   14.0          8         318.0         150    4077          14.0    72       1        plymouth satellite custom (sw)
75   18.0          4         121.0         112    2933          14.5    72       2                       volvo 145e (sw)
76   22.0          4         121.0          76    2511          18.0    72       2                   volkswagen 411 (sw)
77   21.0          4         120.0          87    2979          19.5    72       2                      peugeot 504 (sw)
78   26.0          4          96.0          69    2189          18.0    72       2                       renault 12 (sw)
79   22.0          4         122.0          86    2395          16.0    72       1                       ford pinto (sw)
80   28.0          4          97.0          92    2288          17.0    72       3                       datsun 510 (sw)
81   23.0          4         120.0          97    2506          14.5    72       3           toyouta corona mark ii (sw)
82   28.0          4          98.0          80    2164          15.0    72       1                       dodge colt (sw)
83   27.0          4          97.0          88    2100          16.5    72       3              toyota corolla 1600 (sw)
84   13.0          8         350.0         175    4100          13.0    73       1                     buick century 350
85   14.0          8         304.0         150    3672          11.5    73       1                           amc matador
86   13.0          8         350.0         145    3988          13.0    73       1                      chevrolet malibu
87   14.0          8         302.0         137    4042          14.5    73       1                      ford gran torino
88   15.0          8         318.0         150    3777          12.5    73       1                  dodge coronet custom
89   12.0          8         429.0         198    4952          11.5    73       1              mercury marquis brougham
90   13.0          8         400.0         150    4464          12.0    73       1             chevrolet caprice classic
91   13.0          8         351.0         158    4363          13.0    73       1                              ford ltd
92   14.0          8         318.0         150    4237          14.5    73       1              plymouth fury gran sedan
93   13.0          8         440.0         215    4735          11.0    73       1          chrysler new yorker brougham
94   12.0          8         455.0         225    4951          11.0    73       1              buick electra 225 custom
95   13.0          8         360.0         175    3821          11.0    73       1               amc ambassador brougham
96   18.0          6         225.0         105    3121          16.5    73       1                      plymouth valiant
97   16.0          6         250.0         100    3278          18.0    73       1                 chevrolet nova custom
98   18.0          6         232.0         100    2945          16.0    73       1                            amc hornet
99   18.0          6         250.0          88    3021          16.5    73       1                         ford maverick
100  23.0          6         198.0          95    2904          16.0    73       1                       plymouth duster
101  26.0          4          97.0          46    1950          21.0    73       2               volkswagen super beetle
102  11.0          8         400.0         150    4997          14.0    73       1                      chevrolet impala
103  12.0          8         400.0         167    4906          12.5    73       1                          ford country
104  13.0          8         360.0         170    4654          13.0    73       1                plymouth custom suburb
105  12.0          8         350.0         180    4499          12.5    73       1              oldsmobile vista cruiser
106  18.0          6         232.0         100    2789          15.0    73       1                           amc gremlin
107  20.0          4          97.0          88    2279          19.0    73       3                         toyota carina
108  21.0          4         140.0          72    2401          19.5    73       1                        chevrolet vega
109  22.0          4         108.0          94    2379          16.5    73       3                            datsun 610
110  18.0          3          70.0          90    2124          13.5    73       3                             maxda rx3
111  19.0          4         122.0          85    2310          18.5    73       1                            ford pinto
112  21.0          6         155.0         107    2472          14.0    73       1                      mercury capri v6
113  26.0          4          98.0          90    2265          15.5    73       2                  fiat 124 sport coupe
114  15.0          8         350.0         145    4082          13.0    73       1               chevrolet monte carlo s
115  16.0          8         400.0         230    4278           9.5    73       1                    pontiac grand prix
116  29.0          4          68.0          49    1867          19.5    73       2                              fiat 128
117  24.0          4         116.0          75    2158          15.5    73       2                            opel manta
118  20.0          4         114.0          91    2582          14.0    73       2                            audi 100ls
119  19.0          4         121.0         112    2868          15.5    73       2                           volvo 144ea
120  15.0          8         318.0         150    3399          11.0    73       1                     dodge dart custom
121  24.0          4         121.0         110    2660          14.0    73       2                             saab 99le
122  20.0          6         156.0         122    2807          13.5    73       3                        toyota mark ii
123  11.0          8         350.0         180    3664          11.0    73       1                      oldsmobile omega
124  20.0          6         198.0          95    3102          16.5    74       1                       plymouth duster
125  19.0          6         232.0         100    2901          16.0    74       1                            amc hornet
126  15.0          6         250.0         100    3336          17.0    74       1                        chevrolet nova
127  31.0          4          79.0          67    1950          19.0    74       3                           datsun b210
128  26.0          4         122.0          80    2451          16.5    74       1                            ford pinto
129  32.0          4          71.0          65    1836          21.0    74       3                   toyota corolla 1200
130  25.0          4         140.0          75    2542          17.0    74       1                        chevrolet vega
131  16.0          6         250.0         100    3781          17.0    74       1     chevrolet chevelle malibu classic
132  16.0          6         258.0         110    3632          18.0    74       1                           amc matador
133  18.0          6         225.0         105    3613          16.5    74       1            plymouth satellite sebring
134  16.0          8         302.0         140    4141          14.0    74       1                      ford gran torino
135  13.0          8         350.0         150    4699          14.5    74       1              buick century luxus (sw)
136  14.0          8         318.0         150    4457          13.5    74       1             dodge coronet custom (sw)
137  14.0          8         302.0         140    4638          16.0    74       1                 ford gran torino (sw)
138  14.0          8         304.0         150    4257          15.5    74       1                      amc matador (sw)
139  29.0          4          98.0          83    2219          16.5    74       2                              audi fox
140  26.0          4          79.0          67    1963          15.5    74       2                     volkswagen dasher
141  26.0          4          97.0          78    2300          14.5    74       2                            opel manta
142  31.0          4          76.0          52    1649          16.5    74       3                         toyota corona
143  32.0          4          83.0          61    2003          19.0    74       3                            datsun 710
144  28.0          4          90.0          75    2125          14.5    74       1                            dodge colt
145  24.0          4          90.0          75    2108          15.5    74       2                              fiat 128
146  26.0          4         116.0          75    2246          14.0    74       2                           fiat 124 tc
147  24.0          4         120.0          97    2489          15.0    74       3                           honda civic
148  26.0          4         108.0          93    2391          15.5    74       3                                subaru
149  31.0          4          79.0          67    2000          16.0    74       2                             fiat x1.9
150  19.0          6         225.0          95    3264          16.0    75       1               plymouth valiant custom
151  18.0          6         250.0         105    3459          16.0    75       1                        chevrolet nova
152  15.0          6         250.0          72    3432          21.0    75       1                       mercury monarch
153  15.0          6         250.0          72    3158          19.5    75       1                         ford maverick
154  16.0          8         400.0         170    4668          11.5    75       1                      pontiac catalina
155  15.0          8         350.0         145    4440          14.0    75       1                     chevrolet bel air
156  16.0          8         318.0         150    4498          14.5    75       1                   plymouth grand fury
157  14.0          8         351.0         148    4657          13.5    75       1                              ford ltd
158  17.0          6         231.0         110    3907          21.0    75       1                         buick century
159  16.0          6         250.0         105    3897          18.5    75       1             chevroelt chevelle malibu
160  15.0          6         258.0         110    3730          19.0    75       1                           amc matador
161  18.0          6         225.0          95    3785          19.0    75       1                         plymouth fury
162  21.0          6         231.0         110    3039          15.0    75       1                         buick skyhawk
163  20.0          8         262.0         110    3221          13.5    75       1                   chevrolet monza 2+2

In [73]:
type(df)

pandas.core.frame.DataFrame

In [74]:
# First couple of rows
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [76]:
df.shape # 392 rows, 9 columns

(392, 9)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   year          392 non-null    int64
 7   origin        392 non-null    int64
 8   name          392 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 27.7+ KB

In [78]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592,1.576531
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737,0.805518
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000,1.000000
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [79]:
df['origin']

0      1
1      1
2      1
3      1
4      1
      ..
387    1
388    2
389    1
390    1
391    1
Name: origin, Length: 392, dtype: int64

In [81]:
df['origin'].unique()

array([1, 3, 2])

In [83]:
df['origin'].value_counts()

origin
1    245
3     79
2     68
Name: count, dtype: int64

In [87]:
df['origin'] = df['origin'].replace({1:"American",2:"European",3:"Japanese"})

In [88]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,American,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,American,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,American,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,American,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,American,ford torino

In [90]:
df['origin'].value_counts()

origin
American    245
Japanese     79
European     68
Name: count, dtype: int64

In [82]:
df['year'].unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82])